<form class="f-sign_in" (ngSubmit)="login()" #registForm="ngForm">
  <div class="form-group">
    <label for="name">用户名</label>
    <input type="text" class="form-control" id="name"
           [(ngModel)]="userInfo.name" name="name"
           placeholder="请输入用户名/手机号">
  </div>

  <div class="form-group">
    <label for="password">密码</label>
    <input type="text" class="form-control" id="password"
           [(ngModel)]="userInfo.password" name="password"
           placeholder="请输入密码">
  </div>

  <div class="form-group">
    <label for="reassword">确认密码</label>
    <input type="text" class="form-control" id="reassword"
           [(ngModel)]="userInfo.reassword" name="reassword"
           placeholder="请输入确认密码">
  </div>

  <div class="form-group">
    <label for="email">邮箱</label>
    <input type="text" class="form-control" id="email"
           [(ngModel)]="userInfo.email" name="email"
           placeholder="请输入确认密码">
  </div>

  <button type="submit" class="btn">注册</button>

</form>
