<div style="/*float: right; width: 762px;*/ background-color: #fff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10)">
  <div style="margin-left: 12px; line-height: 44px; font-size: 14px; color: #6681C5">新闻事件时间趋势图</div>
  <div class="clearfix" style="border-top: 1px solid #eee">
    <div class="relative" style="float: left; width: 512px">
      <div style="position: absolute;z-index: 2;">
        <select class="form-control news-event-select">
          <option *ngFor="let option1 of selectOption" [value]="option1.key">{{option1.value}}</option>
        </select>
      </div>
      <div echarts class="geog-chart" [options]="options" style="height: 200px"></div>
    </div>
    <div class="" style="float: left; /*width: 86px*/">
      <div class="">
            <span class=" ng-binding">
                最近一周汇总
            </span>
      </div>
      <div class="">
        <span class="">全网新闻总数</span>
        <span class=" ng-binding" style="color: #FCD218; border-color: #FCD218">
            48
        </span>
      </div>
      <div class="">
        <span class="">负面新闻总数</span>
        <span class=" ng-binding" style="color: #F85F43; border-color: #F85F43">
            16
        </span>
      </div>
      <div class="">
        <span class="">负面新闻占比</span>
        <span class=" ng-binding" style="color: #6681C5; border-color: #6681C5">
            33.33%
        </span>
      </div>
    </div>
  </div>
</div>


