<div class="u-enter" *ngIf="uSLFlag">
  <ul (click)="showSign()">
    <li>登录</li>
    <li>注册</li>
  </ul>
</div>
<div class="virtual-body">
  <ul class="u-swipe" [ngClass]="uSwipe">
    <li class="f-sign">
      <div class="container-fluid">
        <div class="row">
          <a (click)="slogin()" [ngStyle]="{'font-weight': loginLink}" class="col-lg-4">登录</a>
          <a (click)="sRegister()" [ngStyle]="{'font-weight': registerLink}" class="col-lg-8">注册</a>
        </div>
        <router-outlet></router-outlet>
      </div>
    </li>
    <li class="u-swipeContent" [ngClass]="uSwipeContent">
      <img src="../../../assets/images/home.png">
    </li>
  </ul>
</div>
