.virtual-body {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.u-enter {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -50px;
  z-index: 99;
  background: #999;
}
.u-enter>ul {
  margin-bottom: 0;
  padding: 15px 15px 15px 15px;
  cursor: pointer;
  color: #fff;
}
.u-login {
  margin-left: -16.66666667%;
}
.u-swipe {
  position: relative;
  height: 100%;
  width: calc(100% + 240px);
  left: -240px;
}
.u-swipe>li:first-child {
  float: left;
  width: 240px;
  height: 100%;
}
.u-swipe>li:last-child {
  float: left;
  height: 100%;
}
.u-swipe>li:last-child>img {
  width: 100%;
  height: 100%;
}
.uSwipeLeft {
  left: 0;
  animation: uTransLeft 0.5s;
  -moz-animation: uTransLeft 0.5s;    /* Firefox */
  -webkit-animation: uTransLeft 0.5s; /* Safari and Chrome */
  -o-animation: uTransLeft 0.5s;      /* Opera */
}
@keyframes uTransLeft {
  0%   {left: -240px;}
  100% {left: 0;}
}
.uSwipeRight {
  left: -240px;
  animation: uTransRight 0.5s;
  -moz-animation: uTransRight 0.5s;    /* Firefox */
  -webkit-animation: uTransRight 0.5s; /* Safari and Chrome */
  -o-animation: uTransRight 0.5s;      /* Opera */
}
@keyframes uTransRight {
  0%   {left: 0;}
  100% {left: -240px;}
}
.uSConLeft {
  width: calc(100% - 480px) !important;
  transition:width 0.5s;
  -webkit-transition:width 0.5s;
}
.uSwipe {
  left: 0;
}
.u-swipeContent {
  width: calc(100% - 240px);
}
.f-sign {
  padding-top: 45px;
  background-color: #999;
}
.f-sign a {
  color: #fff;
  cursor: pointer;
}
.f-sign .active {
  font-weight: 700;
}
