<!-- 上市公司分布图 -->
<div class="row" >
  <div class="col-lg-7">
    <!-- 地理分布 -->
    <app-geography></app-geography>
  </div>
  <div class="col-lg-5">
    <!-- 类别分布 -->
    <app-category></app-category>
  </div>
</div>
<!-- 上市公司-监测预警风险 -->
<div class="row">
  <div class="col-lg-12">
    <app-early-warning></app-early-warning>
  </div>
</div>
<!-- 热点新闻 -->
<div class="row">
  <div class="col-lg-7">
    <!-- 新闻事件时间一览 -->
    <app-news-event></app-news-event>
  </div>
  <div class="col-lg-5">
    <!-- 新闻跟踪 -->
    <app-news-track></app-news-track>
  </div>
</div>
