<div class="row">
  <div class="col-lg-12 m-headLine">
    上市公司-监测预警趋势图
  </div>
  <div class="col-lg-12">
    <div echarts class="trend-chart b-border" [options]="options"></div>
  </div>
  <div class="col-lg-12">
    <div class="b-border b-border_topN">
      <div class="row">
        <div class="col-lg-12">
          日期：2018-01
        </div>
        <div class="col-lg-2">
          <span>财务风险</span>
          <span>133<span>(个)</span></span>
        </div>
        <div class="col-lg-2">
          <span>治理风险</span>
          <span>133<span>(个)</span></span>
        </div>
        <div class="col-lg-2">
          <span>经营风险</span>
          <span>133<span>(个)</span></span>
        </div>
        <div class="col-lg-2">
          <span>市场风险</span>
          <span>133<span>(个)</span></span>
        </div>
        <div class="col-lg-2">
          <span>法律法规风险</span>
          <span>133<span>(个)</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
