<div class="row">
  <div class="col-lg-12 m-headLine">
    上市公司-监测预警趋势图
  </div>
  <div class="col-lg-12">
    <div echarts class="trend-chart b-border" [options]="options"></div>
  </div>
  <div class="col-lg-12">
    <div class="b-border b-border_topN">
      <div class="row">
        <div class="col-lg-offset-10 col-lg-2 ">
          <span class="m-title_date">日期：2018-01</span>
        </div>
        <div class="col-lg-lfs5">
          <ul class="m-center_content">
            <li class="fontW-700">财务风险</li>
            <li class="font-16 fontW-700">133<span class="color-999 font-12">(个)</span></li>
          </ul>
        </div>
        <div class="col-lg-lfs5">
          <ul class="m-center_content">
            <li class="fontW-700">治理风险</li>
            <li class="font-16 fontW-700">133<span class="color-999 font-12">(个)</span></li>
          </ul>
        </div>
        <div class="col-lg-lfs5">
          <ul class="m-center_content">
            <li class="fontW-700">经营风险</li>
            <li class="font-16 fontW-700">133<span class="color-999 font-12">(个)</span></li>
          </ul>
        </div>
        <div class="col-lg-lfs5">
          <ul class="m-center_content">
            <li class="fontW-700">市场风险</li>
            <li class="font-16 fontW-700">133<span class="color-999 font-12">(个)</span></li>
          </ul>
        </div>
        <div class="col-lg-lfs5">
          <ul class="m-center_content">
            <li class="fontW-700">法律法规风险</li>
            <li class="font-16 fontW-700">133<span class="color-999 font-12">(个)</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
