.f-sign_in {
  margin-top: 50px;
}
.f-sign_in label {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 400;
}
.f-sign_in .btn {
  margin-top: 20px;
  width: 100%;
  letter-spacing: 10px;
  color: #fff;
}
