<div class="row">
  <div class="col-lg-12 m-headLine">
    上市公司-地理分布一览
  </div>
  <div class="col-lg-12">
    <div echarts class="geog-chart b-border"  [options]="options"></div>
  </div>
  <div class="col-lg-12">
    <div class="b-border b-border_topN">
      <div class="row">
        <div class="col-lg-12 geog-row-margin-top-bottom-10">
          <div class="col-lg-6 font-16 fontW-700 ">
            <span class=""></span> 深圳
          </div>
          <div class="col-lg-offset-4 col-lg-2 color-999 font-12">
            截至日期：2018-01
          </div>
        </div>
        <div class="col-lg-12 geog-row-margin-bottom-10">
          <div class="col-lg-4">
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">深沪主板公司</li>
                <li class="font-16 fontW-700">133 家</li>
              </ul>
            </div>
            <div class="col-lg-6 geog-border-right-2-solid-999">
              <ul>
                <li class="fontW-700 color-999">较上年同比新增</li>
                <li class="font-16 fontW-700">133 %</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">深沪主板公司</li>
                <li class="font-16 fontW-700">133 家</li>
              </ul>
            </div>
            <div class="col-lg-6 geog-border-right-2-solid-999">
              <ul>
                <li class="fontW-700 color-999">较上年同比新增</li>
                <li class="font-16 fontW-700">133 %</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">深沪主板公司</li>
                <li class="font-16 fontW-700">133 家</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">较上年同比新增</li>
                <li class="font-16 fontW-700">133 %</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
