<div class="row">
  <div class="col-lg-12 m-headLine">
    上市公司-地理分布一览
  </div>
  <div class="col-lg-12">
    <div echarts class="geog-chart b-border" [options]="options"></div>
  </div>
  <div class="col-lg-12">
    <div class="b-border b-border_topN">
      <div class="row">
        <div class="col-lg-12 mgn-top_10 mgn-bottom_10">
          <div class="col-lg-6 line-height30 font-16 fontW-700">
            <img class="vertical-sub" src="assets/images/position.png">
            深圳
          </div>
          <div class="col-lg-6 text-right line-height30 padding-right_20 u-date_title">
            截至日期：{{SZCityData.deadline}}
          </div>
        </div>
        <div class="col-lg-12 mgn-bottom_10">
          <div class="col-lg-4">
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">深沪主板公司</li>
                <li class="font-16 fontW-700">{{SZCityData.SHASZMBCompanyNum}} 家</li>
              </ul>
            </div>
            <div class="col-lg-6 geog-border-right-2-solid-eee">
              <ul>
                <li class="fontW-700 color-999">较上年同比新增</li>
                <li class="font-16 fontW-700">{{SZCityData.SHASZMBCompanyRatio}}</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">中小板公司</li>
                <li class="font-16 fontW-700">{{SZCityData.MASBCompanyNum}} 家</li>
              </ul>
            </div>
            <div class="col-lg-6 geog-border-right-2-solid-eee">
              <ul>
                <li class="fontW-700 color-999">较上年同比新增</li>
                <li class="font-16 fontW-700">{{SZCityData.MASBCompanyRatio}}</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">创业板公司</li>
                <li class="font-16 fontW-700">{{SZCityData.GCompanyNum}} 家</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li class="fontW-700 color-999">较上年同比新增</li>
                <li class="font-16 fontW-700">{{SZCityData.GCompanyRatio}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
