<div class="row">
  <div class="col-lg-8 m-title">负面新闻跟踪</div>
  <div class="col-lg-4"></div>
  <div class="col-lg-12">
    <ul>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
    </ul>
  </div>
</div>
