<div class="row">
  <div class="col-lg-12">
    <accordion class="m-accordion mgn-top_20" [closeOthers]="true">
      <accordion-group #group>
        <div accordion-heading class="clearfix">
          <div class="row">
            <div class="col-lg-4">重庆钢铁股份有限公司</div>
            <div class="col-lg-4 align-center">上榜理由：命中23条预警指标 </div>
            <div class="col-lg-4 align-right">关注</div>
          </div>
        </div>
        <div class="u-list">
          <p>破产重整-破产重整</p>
          <ul>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于《关于法院裁定批准重整计划的公告》的更正公告
            </li>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于重整计划执行进展的公告(2017/11/25)
            </li>
            <li>
              <div class="u-circular"></div>
              重慶鋼鐵股份有限公司管理人關於重整計劃執行進展的公告
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group #group>
        <div accordion-heading class="clearfix">
          <div class="row">
            <div class="col-lg-4">重庆钢铁股份有限公司</div>
            <div class="col-lg-4 align-center">上榜理由：命中23条预警指标 </div>
            <div class="col-lg-4 align-right">关注</div>
          </div>
        </div>
        <div class="u-list">
          <p>破产重整-破产重整</p>
          <ul>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于《关于法院裁定批准重整计划的公告》的更正公告
            </li>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于重整计划执行进展的公告(2017/11/25)
            </li>
            <li>
              <div class="u-circular"></div>
              重慶鋼鐵股份有限公司管理人關於重整計劃執行進展的公告
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group #group>
        <div accordion-heading class="clearfix">
          <div class="row">
            <div class="col-lg-4">重庆钢铁股份有限公司</div>
            <div class="col-lg-4 align-center">上榜理由：命中23条预警指标 </div>
            <div class="col-lg-4 align-right">关注</div>
          </div>
        </div>
        <div class="u-list">
          <p>破产重整-破产重整</p>
          <ul>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于《关于法院裁定批准重整计划的公告》的更正公告
            </li>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于重整计划执行进展的公告(2017/11/25)
            </li>
            <li>
              <div class="u-circular"></div>
              重慶鋼鐵股份有限公司管理人關於重整計劃執行進展的公告
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group #group>
        <div accordion-heading class="clearfix">
          <div class="row">
            <div class="col-lg-4">重庆钢铁股份有限公司</div>
            <div class="col-lg-4 align-center">上榜理由：命中23条预警指标 </div>
            <div class="col-lg-4 align-right">关注</div>
          </div>
        </div>
        <div class="u-list">
          <p>破产重整-破产重整</p>
          <ul>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于《关于法院裁定批准重整计划的公告》的更正公告
            </li>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于重整计划执行进展的公告(2017/11/25)
            </li>
            <li>
              <div class="u-circular"></div>
              重慶鋼鐵股份有限公司管理人關於重整計劃執行進展的公告
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group #group>
        <div accordion-heading class="clearfix">
          <div class="row">
            <div class="col-lg-4">重庆钢铁股份有限公司</div>
            <div class="col-lg-4 align-center">上榜理由：命中23条预警指标 </div>
            <div class="col-lg-4 align-right">关注</div>
          </div>
        </div>
        <div class="u-list">
          <p>破产重整-破产重整</p>
          <ul>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于《关于法院裁定批准重整计划的公告》的更正公告
            </li>
            <li>
              <div class="u-circular"></div>
              601005:*ST重钢管理人关于重整计划执行进展的公告(2017/11/25)
            </li>
            <li>
              <div class="u-circular"></div>
              重慶鋼鐵股份有限公司管理人關於重整計劃執行進展的公告
            </li>
          </ul>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
