<div class="row">
  <div class="col-lg-12">
    <carousel class="m-carousel" [showIndicators]="false">
      <slide>
        <app-warning-top [earlyWarningList]="earlyWarningList" [num]="1"></app-warning-top>
      </slide>
      <slide *ngIf="copyEarlyWarningList || copyEarlyWarningList !== null">
        <app-warning-top [earlyWarningList]="copyEarlyWarningList" [num]="6"></app-warning-top>
      </slide>
    </carousel>
  </div>
  <div class="col-lg-12 mgn-top_u10">
    <div class="u-more" (click)="moreWarning()">查看更多</div>
  </div>
</div>
