<accordion class="m-accordion mgn-top_20" [closeOthers]="true">
  <accordion-group #group *ngFor="let earlyWarning of earlyWarningList; let i = index;">
    <div accordion-heading>
      <div class="row">
        <div class="col-lg-m-1 line-height30 fontW-700 font-16">{{ i+num }}</div>
        <div class="col-lg-m-4 line-height30">{{ earlyWarning.companyNm }}</div>
        <div class="col-lg-m-3 line-height30">
          <div class="float-left">上榜理由：命中{{ earlyWarning.warnCount }}条预警指标</div>
          <div class="float-left mgn-top_14 mgn-left_15 m-arrow_down"></div>
        </div>
        <div class="col-lg-m-2 line-height30">
          <div class="text-decoration">监管人员：{{ earlyWarning.supervisor }}</div>
        </div>
        <div class="col-lg-m-2">
          <div class="u-focus">
            <ng-container *ngIf="earlyWarning.isFocused; else isNotFocused">
              取消关注
            </ng-container>
            <ng-template #isNotFocused>
              +重点关注
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let type of earlyWarning.typeMap | mapTrans" class="u-list">
      <p class="fontW-700 font-16">{{ type['key'] }}</p>
      <ul>
        <li *ngFor="let item of type['value']" class="line-height30">
          <div class="u-circular"></div>
          {{ item }}
        </li>
      </ul>
    </div>
  </accordion-group>
</accordion>
