<div class="row">
  <div class="col-lg-12 m-headLine">
    深圳辖区上市公司-监测预警风险TOP5
  </div>
  <div class="col-lg-12">
    <accordion [closeOthers]="true">
      <accordion-group #group>
        <div accordion-heading class="clearfix">
          I can have markup, too!
          <span class="badge badge-secondary float-right pull-right">Some HTML here</span>
        </div>
        This is just some content to illustrate fancy headings.
      </accordion-group>
      <accordion-group heading="Header">
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Content 1">
        <p>Content 1</p>
      </accordion-group>
      <accordion-group heading="Content 2">
        <p>Content 2</p>
      </accordion-group>
    </accordion>
  </div>
</div>
