<div class="row mgn-bottom_70 bs">
  <div class="col-lg-12 m-headLine">
    上市公司-负面新闻跟踪
  </div>
  <div class="col-lg-3">
    <input placeholder="开始时间 - 结束时间"
           type="text"
           #newsTrackDate
           class="form-control"
           [(ngModel)]="range"
           bsDaterangepicker
           [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', containerClass: 'theme-default' }">
  </div>

  <div class="col-lg-offset-7 col-lg-2">
    <div class="u-more" (click)="moreTracks()">查看更多</div>
  </div>

  <div class="col-lg-12">
    <ng-container *ngIf="newsTrack || newsTrack !== null; else isNotNewsTrack">
      <div class="mgn-top_15 track-news m-scrollbar b-border b-border_bottomN">
        <div *ngFor="let new of newsTrack" class="row">
          <div class="col-lg-12 track-padding" (click)="newsDetail()">
            <div class="col-lg-2 line-height30">{{ new.postDt | date: "y-MM-dd HH:mm" }}</div>
            <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
                 data-toggle="tooltip"
                 data-trigger="hover"
                 data-placement="top"
                 title="{{ new.title }}">
              {{ new.title }}
            </div>
            <div class="col-lg-4 padding-right_0">
              <span class="float-left line-height30">相关公司：</span>
              <span class="float-left u-company u-leaveOut"
                    data-toggle="tooltip"
                    data-trigger="hover"
                    data-placement="top"
                    title="{{ new.companyNm }}">
              {{ new.companyNm }}
            </span>
            </div>
            <div class="col-lg-2 align-right line-height30">来源：{{ new.newsSource }}</div>
          </div>
          <div class="col-lg-12 m-line"></div>
        </div>
      </div>
    </ng-container>
    <ng-template #isNotNewsTrack>
      <div class="mgn-top_15 mgn-bottom_240">
        该时间段暂无负面新闻
      </div>
    </ng-template>
  </div>
</div>
