<!--
<div class="row">
  <div class="col-lg-8 m-title">负面新闻跟踪</div>
  <div class="col-lg-4"></div>
  <div class="col-lg-12">
    <ul>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
      <li class="row mgn-bottom">
        <a class="col-lg-12">巨人网络并购Playtika遇阻 或存在一定监管风险</a>
        <div class="col-lg-5">2018年01月31日</div>
        <div class="col-lg-7">相关公司: <a>巨人网络集团股份有限公司</a></div>
      </li>
    </ul>
  </div>
</div>
-->

<div class="row">
  <div style="margin-top: 20px;">
    <!--<div class="news-list-header">
      <div class="inline-block">共找到<span style="color: #FC8671;">{{newsTotal}}</span>条相关新闻</div>
      <div class="float-right" style="margin-right: 18px;">
        <md-checkbox ng-model="showNegativeNewsOnly" ng-change="getNewsData();">只显示负面新闻</md-checkbox>
      </div>
    </div>-->
    <!--<div class="news-list-body">
      <div ng-show="newsTotal == 0" class="news-empty">
        没有新闻数据！
      </div>
      <div ng-show="newsTotal > 0" class="news-item clearfix" ng-repeat="news in newsRs">
        <div class="inline-block width-35" style="width: 34%; height: 44px;">
          <div class="inline-block width-90" style="height: 44px;">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/{{base.companyId}}/{{news.newsCode}}" target="_blank" ng-bind-html="news.newsTitle| highlight : newsKeyword"></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%; height: 44px;">
          <div ng-show="news.relevance <= 0.01 && news.importance == 0">&nbsp;</div>
          <div ng-show="(news.relevance > 0.01 && news.relevance <= 0.1) || (news.relevance <= 0.01 && news.importance > 0)" class="relevance star1"></div>
          <div ng-show="news.relevance > 0.1 && news.relevance <= 0.3" class="relevance star2"></div>
          <div ng-show="news.relevance > 0.3 && news.relevance <= 0.8" class="relevance star3"></div>
          <div ng-show="news.relevance > 0.8 && news.relevance <= 0.999" class="relevance star4"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5"></div>
        </div>
        <div class="inline-block width-30" style="height: 44px;">
          &nbsp;<span ng-show="warningType" class="warning-type" ng-repeat="warningType in news.warningType.split(',')">{{warningType}}</span>
        </div>
        <div class="inline-block width-20" style="width: 21%; height: 44px;">
          <span class="news-source">来源: {{news.newsSource}}</span><span class="publish-time">{{news.publishTime | strDateFormat5}}</span>
        </div>
      </div>
      <div ng-show="loading" class="scrollflag-div" style="margin-top: 100px; text-align: center;">
        <div id="loging"></div>加载中...
      </div>
    </div>-->
  </div>
</div>


<div class="row">
  <div style="margin-top: 20px">
    <div class="news-list-header">
      <div class="inline-block">共计<span style="color: #FC8671" class="ng-binding">3947</span>条相关新闻</div>
      <div class="float-right" style="margin-right: 24px">
        <!-- <md-checkbox ng-model="showNegativeNewsOnly" ng-change="getNewsData();" tabindex="0" type="checkbox" role="checkbox" class="ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" aria-label="只显示负面新闻" aria-checked="false" aria-invalid="false" style=""><div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox=""><div class="md-icon"></div><div class="md-ripple-container"></div></div><div ng-transclude="" class="md-label"><span class="ng-scope">
                             只显示负面新闻
                         </span></div></md-checkbox>-->
      </div>
    </div>
    <div class="news-list-body">
      <div ng-show="newsTotal == 0" class="news-empty ng-hide" aria-hidden="true" style="">
        没有新闻数据！
      </div>
      <!-- ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false"
           style="">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16085903" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>2<span class="highlightedText"></span>月<span
                                      class="highlightedText"></span>份<span class="highlightedText"></span>天<span
                                      class="highlightedText"></span>天<span class="highlightedText"></span>基<span
                                      class="highlightedText"></span>金<span class="highlightedText"></span>优<span
                                      class="highlightedText"></span>选<span class="highlightedText"></span>基<span
                                      class="highlightedText"></span>金<span class="highlightedText"></span>月<span
                                      class="highlightedText"></span>报<span class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative" aria-hidden="false">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1" aria-hidden="false"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5 ng-hide" aria-hidden="true"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') --><span ng-show="warningType"
                                                                                   class="warning-type ng-binding ng-scope"
                                                                                   ng-repeat="warningType in news.warningType.split(',')"
                                                                                   aria-hidden="false">其他事件</span>
          <!-- end ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 天天基金网</span>
          <span class="publish-time ng-binding">2018-02-02 17:39</span>
        </div>
      </div>
      <!-- end ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16085650" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>深<span class="highlightedText"></span>圳<span
                                      class="highlightedText"></span>土<span class="highlightedText"></span>地<span
                                      class="highlightedText"></span>供<span class="highlightedText"></span>应<span
                                      class="highlightedText"></span>开<span class="highlightedText"></span>闸<span
                                      class="highlightedText"></span> <span class="highlightedText"></span>可<span
                                      class="highlightedText"></span>销<span class="highlightedText"></span>售<span
                                      class="highlightedText"></span>宅<span class="highlightedText"></span>地<span
                                      class="highlightedText"></span>仅<span class="highlightedText"></span>一<span
                                      class="highlightedText"></span>宗<span class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative ng-hide"
                  aria-hidden="true">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1" aria-hidden="false"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5 ng-hide" aria-hidden="true"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 第一财经</span>
          <span class="publish-time ng-binding">2018-02-02 16:51</span>
        </div>
      </div><!-- end ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16085300" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>万<span class="highlightedText"></span>科<span
                                      class="highlightedText"></span>总<span class="highlightedText"></span>裁<span
                                      class="highlightedText"></span>选<span class="highlightedText"></span>帅<span
                                      class="highlightedText"></span>之<span class="highlightedText"></span>谜<span
                                      class="highlightedText"></span>：<span class="highlightedText"></span>为<span
                                      class="highlightedText"></span>何<span class="highlightedText"></span>不<span
                                      class="highlightedText"></span>是<span class="highlightedText"></span>孙<span
                                      class="highlightedText"></span>嘉<span class="highlightedText"></span> <span
                                      class="highlightedText"></span>而<span class="highlightedText"></span>是<span
                                      class="highlightedText"></span>祝<span class="highlightedText"></span>九<span
                                      class="highlightedText"></span>胜<span class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative ng-hide"
                  aria-hidden="true">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1 ng-hide" aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4"
               aria-hidden="false"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5 ng-hide" aria-hidden="true"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') --><span ng-show="warningType"
                                                                                   class="warning-type ng-binding ng-scope"
                                                                                   ng-repeat="warningType in news.warningType.split(',')"
                                                                                   aria-hidden="false">公司治理</span>
          <!-- end ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 赢商网</span>
          <span class="publish-time ng-binding">2018-02-02 15:41</span>
        </div>
      </div><!-- end ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16084765" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>A<span class="highlightedText"></span>股<span
                                      class="highlightedText"></span>三<span class="highlightedText"></span>大<span
                                      class="highlightedText"></span>股<span class="highlightedText"></span>指<span
                                      class="highlightedText"></span>探<span class="highlightedText"></span>底<span
                                      class="highlightedText"></span>回<span class="highlightedText"></span>升<span
                                      class="highlightedText"></span>：<span class="highlightedText"></span>创<span
                                      class="highlightedText"></span>业<span class="highlightedText"></span>板<span
                                      class="highlightedText"></span>指<span class="highlightedText"></span>涨<span
                                      class="highlightedText"></span>逾<span class="highlightedText"></span>1<span
                                      class="highlightedText"></span>%<span class="highlightedText"></span> <span
                                      class="highlightedText"></span>传<span class="highlightedText"></span>媒<span
                                      class="highlightedText"></span>板<span class="highlightedText"></span>块<span
                                      class="highlightedText"></span>表<span class="highlightedText"></span>现<span
                                      class="highlightedText"></span>突<span class="highlightedText"></span>出<span
                                      class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative" aria-hidden="false">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1" aria-hidden="false"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5 ng-hide" aria-hidden="true"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') --><span ng-show="warningType"
                                                                                   class="warning-type ng-binding ng-scope"
                                                                                   ng-repeat="warningType in news.warningType.split(',')"
                                                                                   aria-hidden="false">其他事件</span>
          <!-- end ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 东方财富网</span>
          <span class="publish-time ng-binding">2018-02-02 10:35</span>
        </div>
      </div><!-- end ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16084652" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>京<span class="highlightedText"></span>城<span
                                      class="highlightedText"></span>一<span class="highlightedText"></span>哥<span
                                      class="highlightedText"></span>首<span class="highlightedText"></span>开<span
                                      class="highlightedText"></span>掉<span class="highlightedText"></span>队<span
                                      class="highlightedText"></span> <span class="highlightedText"></span>8<span
                                      class="highlightedText"></span>个<span class="highlightedText"></span>项<span
                                      class="highlightedText"></span>目<span class="highlightedText"></span>平<span
                                      class="highlightedText"></span>均<span class="highlightedText"></span>建<span
                                      class="highlightedText"></span>造<span class="highlightedText"></span>时<span
                                      class="highlightedText"></span>长<span class="highlightedText"></span>超<span
                                      class="highlightedText"></span>1<span class="highlightedText"></span>0<span
                                      class="highlightedText"></span>年<span class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative ng-hide"
                  aria-hidden="true">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1" aria-hidden="false"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5 ng-hide" aria-hidden="true"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 国际金融报</span>
          <span class="publish-time ng-binding">2018-02-02 10:09</span>
        </div>
      </div><!-- end ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16084589" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>沪<span class="highlightedText"></span>指<span
                                      class="highlightedText"></span>跌<span class="highlightedText"></span>逾<span
                                      class="highlightedText"></span>1<span class="highlightedText"></span>%<span
                                      class="highlightedText"></span>盘<span class="highlightedText"></span>中<span
                                      class="highlightedText"></span>跌<span class="highlightedText"></span>破<span
                                      class="highlightedText"></span>3<span class="highlightedText"></span>4<span
                                      class="highlightedText"></span>0<span class="highlightedText"></span>0<span
                                      class="highlightedText"></span>点<span class="highlightedText"></span> <span
                                      class="highlightedText"></span>创<span class="highlightedText"></span>业<span
                                      class="highlightedText"></span>板<span class="highlightedText"></span>指<span
                                      class="highlightedText"></span>逆<span class="highlightedText"></span>势<span
                                      class="highlightedText"></span>翻<span class="highlightedText"></span>红<span
                                      class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative" aria-hidden="false">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1" aria-hidden="false"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5 ng-hide" aria-hidden="true"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') --><span ng-show="warningType"
                                                                                   class="warning-type ng-binding ng-scope"
                                                                                   ng-repeat="warningType in news.warningType.split(',')"
                                                                                   aria-hidden="false">其他事件</span>
          <!-- end ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 东方财富网</span>
          <span class="publish-time ng-binding">2018-02-02 09:45</span>
        </div>
      </div><!-- end ngRepeat: news in newsRs -->
      <div ng-show="newsTotal > 0" class="news-item clearfix ng-scope" ng-repeat="news in newsRs" aria-hidden="false">
        <div class="inline-block width-35">
          <div class="inline-block width-90" style="height: 38px">
                                <span class="news-title">
                                    <a href="/#/companyNewsDetail/513847/16083939" target="_blank"
                                       ng-bind-html="news.newsTitle| highlight : newsKeyword" class="ng-binding"><span
                                      class="highlightedText"></span>祝<span class="highlightedText"></span>九<span
                                      class="highlightedText"></span>胜<span class="highlightedText"></span>接<span
                                      class="highlightedText"></span>棒<span class="highlightedText"></span>郁<span
                                      class="highlightedText"></span>亮<span class="highlightedText"></span> <span
                                      class="highlightedText"></span>万<span class="highlightedText"></span>科<span
                                      class="highlightedText"></span>释<span class="highlightedText"></span>放<span
                                      class="highlightedText"></span>何<span class="highlightedText"></span>种<span
                                      class="highlightedText"></span>信<span class="highlightedText"></span>号<span
                                      class="highlightedText"></span></a>
                                </span>
          </div>
          <div class="inline-block width-10">
            <span ng-show="news.score < 0" class="news-emotion news-emotion-negative ng-hide"
                  aria-hidden="true">负面</span>
          </div>
        </div>
        <div class="inline-block width-10" style="margin-left: 5%">
          <div ng-show="news.relevance <= 0.01 &amp;&amp; news.importance == 0" aria-hidden="true" class="ng-hide">
            &nbsp;
          </div>
          <div
            ng-show="(news.relevance > 0.01 &amp;&amp; news.relevance <= 0.1) || (news.relevance <= 0.01 &amp;&amp; news.importance > 0)"
            class="relevance star1 ng-hide" aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.1 &amp;&amp; news.relevance <= 0.3" class="relevance star2 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.3 &amp;&amp; news.relevance <= 0.8" class="relevance star3 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.8 &amp;&amp; news.relevance <= 0.999" class="relevance star4 ng-hide"
               aria-hidden="true"></div>
          <div ng-show="news.relevance > 0.999" class="relevance star5" aria-hidden="false"></div>
        </div>
        <div class="inline-block width-30">
          &nbsp;<!-- ngRepeat: warningType in news.warningType.split(',') --><span ng-show="warningType"
                                                                                   class="warning-type ng-binding ng-scope"
                                                                                   ng-repeat="warningType in news.warningType.split(',')"
                                                                                   aria-hidden="false">公司治理</span>
          <!-- end ngRepeat: warningType in news.warningType.split(',') --><span ng-show="warningType"
                                                                                 class="warning-type ng-binding ng-scope"
                                                                                 ng-repeat="warningType in news.warningType.split(',')"
                                                                                 aria-hidden="false">经营情况</span>
          <!-- end ngRepeat: warningType in news.warningType.split(',') -->
        </div>
        <div class="inline-block width-20" style="height: 38px">
          <span class="news-source ng-binding">来源: 北京商报</span>
          <span class="publish-time ng-binding">2018-02-02 08:19</span>
        </div>
      </div><!-- end ngRepeat: news in newsRs -->

      <div ng-show="loading" class="scrollflag-div ng-hide" style="margin-top: 100px; text-align: center;"
           aria-hidden="true">
        <div id="loging"></div>
        加载中...
      </div>
    </div>
  </div>
</div>
