<div class="row mgn-bottom_70 bs">
  <div class="col-lg-12 m-headLine">
    上市公司-负面新闻跟踪
  </div>
  <div class="col-lg-10">
    <input class="form-control display-inlineB width-180"
           placeholder="开始时间"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">
    -
    <input class="form-control display-inlineB width-180"
           placeholder="结束时间"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-default' }">
  </div>

  <div class="col-lg-2">
    <div class="u-more" (click)="moreTracks()">查看更多</div>
  </div>

  <div class="col-lg-12">
    <div class="mgn-top_15 track-news m-scrollbar b-border b-border_bottomN">
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="天风证券：市场短期过度担忧 看好金融地产及成长龙头股">
            天风证券：市场短期过度担忧 看好金融地产及成长龙头股
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="天风证券：市场短期过度担忧 看好金融地产及成长龙头股">
            天风证券：市场短期过度担忧 看好金融地产及成长龙头股
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="天风证券：市场短期过度担忧 看好金融地产及成长龙头股">
            天风证券：市场短期过度担忧 看好金融地产及成长龙头股
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="天风证券：市场短期过度担忧 看好金融地产及成长龙头股">
            天风证券：市场短期过度担忧 看好金融地产及成长龙头股
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="天风证券：市场短期过度担忧 看好金融地产及成长龙头股">
            天风证券：市场短期过度担忧 看好金融地产及成长龙头股
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="重庆钢铁股份有限公司">
            重庆钢铁股份有限公司
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="重庆钢铁股份有限公司">
            重庆钢铁股份有限公司
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="重庆钢铁股份有限公司">
            重庆钢铁股份有限公司
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="重庆钢铁股份有限公司">
            重庆钢铁股份有限公司
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-12 track-padding">
          <div class="col-lg-2 line-height30">2017-10-28 12:23</div>
          <div class="col-lg-4 line-height30 padding-left_0 u-leaveOut"
               data-toggle="tooltip"
               data-trigger="hover"
               data-placement="top"
               title="重庆钢铁股份有限公司">
            重庆钢铁股份有限公司
          </div>
          <div class="col-lg-4 padding-right_0">
            <span class="float-left line-height30">相关公司：</span>
            <span class="float-left u-company u-leaveOut"
                  data-toggle="tooltip"
                  data-trigger="hover"
                  data-placement="top"
                  title="智和新天（北京）传媒广告股份有限公司">
              智和新天（北京）传媒广告股份有限公司
            </span>
          </div>
          <div class="col-lg-2 align-right line-height30">来源：东方财富</div>
        </div>
        <div class="col-lg-12 m-line"></div>
      </div>
    </div>
  </div>
</div>
