<form class="f-sign_in" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <label for="name">用户名</label>
    <input type="text" class="form-control" id="name"
           [(ngModel)]="userInfo.name" name="name"
           placeholder="请输入用户名/手机号">
  </div>

  <div class="form-group">
    <label for="password">密码</label>
    <input type="text" class="form-control" id="password"
           [(ngModel)]="userInfo.password" name="password"
           placeholder="请输入密码">
  </div>

  <button type="submit" class="btn">登录</button>

</form>

