/* 字体居中 */
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

/* 字体大小 */
.font-12 {
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}

/* 字体粗体 */
.fontW-700 {
  font-weight: 700;
}

/* 字体颜色 */
.color-999 {
  color: #999;
}

/* 外边距 */
.mgn-bottom_20 {
  margin-bottom: 20px;
}
.mgn-bottom_70 {
  margin-bottom: 70px;
}
.mgn-top_20 {
  margin-top: 20px;
}

/* 边框 */
.b-border {
  border: 1px solid #cfd8dc;
}
.b-border_topN {
  border-top: 0;
}
.b-border_left {
  border-left: 1px solid #cfd8dc;
}
.b-border_bottom {
  border-bottom: 1px solid #cfd8dc;
}
.b-border_bottomN {
  border-bottom: 0;
}

/* 显示5列 */
.col-lg-lfs5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .col-lg-lfs5 {
    float: left;
  }
  .col-lg-lfs5 {
    width: 20%;
  }
  .col-lg-pull-lfs5 {
    right: 20%;
  }
  .col-lg-push-lfs5 {
    left: 20%;
  }
  .col-lg-offset-lfs5 {
    margin-left: 20%;
  }
}

/* 行间距 */
.line-height24 {
  line-height: 24;
}

/* 相对定位 */
.position-relative {
  position: relative;
}
