.u-date_title {
  font-size: 12px;
  color: #999;
}
.u-focus {
  width: 72px;
  margin-left: 20px;
  padding: 4px 0;
  text-align: center;
  border: 1px solid #cfd8dc;
}
.u-circular {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #666;
}
