.f-login lable, .f-regist label {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 400;
}
.f-login .btn, .f-regist .btn {
  margin-top: 20px;
  width: 100%;
  letter-spacing: 10px;
  color: #fff;
}
