/*
  模块css (m-):
    导航nav，子导航subnav，
    菜单menu，
    选项卡tab，
    标题区title，内容区content，
    列表list，表格table，表单form，
    线line
*/

/* 标题 */
.m-headLine {
  line-height: 70px;
  font-size: 24px;
}
.m-headLine:before {
  content: '';
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 7px;
  width: 3px;
  height: 30px;
  background: #999;
}
.m-title {
  line-height: 60px;
  font-size: 20px;
}

/* accordion */
.m-accordion .panel {
  margin-bottom: -1px;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.m-accordion .panel+.panel {
  margin-top: 0;
}
.m-accordion .panel-default>.panel-heading {
  background-color: #fff;
}
.m-accordion .panel-title {
  font-size: 14px;
}
.m-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
  padding-bottom: 0;
  border-bottom: 1px dashed #cfd8dc;
}

/* carousel */
.m-carousel .carousel-control.left {
  background-image: none;
}
.m-carousel .carousel-control.right {
  background-image: none;
}
.m-carousel .carousel-control .icon-prev {
  left: 0;
  margin-left: -30px;
}
.m-carousel .carousel-control .icon-next {
  right: 0;
  margin-right: -30px;
}
.m-carousel .carousel-control .icon-prev:before {
  color: #333;
}
.m-carousel .carousel-control .icon-next:before {
  color: #333;
}

/* 线 */
.m-line {
  margin-left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background: #cfd8dc;
}

/* 三角形 */
.m-arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
}
.m-arrow_down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
}
.m-arrow_left {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
}
.m-arrow_right {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
}

/* 分页 */
.m-pagination .pagination>li>a {
 color: #333;
}
.m-pagination .pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: #fff;
  background-color: #999;
  border-color: #999;
}

/* 滚动条样式 chome */
.m-scrollbar::-webkit-scrollbar{
  width: 5px;
  height: 0;
}
/*滚动条的轨道*/
.m-scrollbar::-webkit-scrollbar-track{
  background-color: #cfd8dc;
}
/*滚动条的滑块按钮*/
.m-scrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #999;
}
/*滚动条的上下两端的按钮*/
.m-scrollbar::-webkit-scrollbar-button{
  height: 0;
}
