<div class="m-menu">
  <ul>
    <li routerLinkActive="active" [routerLink]="['region']">
      <div>区域风险总览</div>
    </li>
    <li routerLinkActive="active" [routerLink]="['group']">
      <div>分组风险概览</div>
    </li>
    <li routerLinkActive="active" [routerLink]="['company']">
      <div>上市公司风险展台</div>
    </li>
    <li routerLinkActive="active" [routerLink]="['atlas']">
      <div>关联图谱</div>
    </li>
  </ul>

  <div class="container">
    <div>
      <div class="row">
        <div class="col-lg-12">
          <router-outlet ></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
