<p>
  上市公司风险展台company-show works!
</p>
<div class="row" >
  <div class="col-xs-8	 col-sm-8 col-md-8 col-lg-8">

  </div>
  <div class="col-xs-4	 col-sm-4 col-md-4 col-lg-4">

  </div>
</div>

<div class="row" >
  <div class="col-xs-8	 col-sm-8 col-md-8 col-lg-8">

  </div>
  <div class="col-xs-4	 col-sm-4 col-md-4 col-lg-4">

  </div>
</div>

<div class="row" >
  <div class="col-xs-12	 col-sm-12 col-md-12 col-lg-12">

  </div>
</div>

<div class="row" >
  <div class="col-xs-8	 col-sm-8 col-md-8 col-lg-8">

  </div>
  <div class="col-xs-4	 col-sm-4 col-md-4 col-lg-4">

  </div>
</div>
