<div class="row mgn-bottom_20">
  <div class="col-lg-12 m-headLine">
    上市公司-热点新闻
  </div>
  <div class="col-lg-12">
    <div class="b-border">
      <div class="row">
        <div class="col-lg-9">
          <div #newsEcharts echarts class="news-chart" [options]="options" (chartClick)="getClickTimeLine($event)"></div>
        </div>
        <div class="col-lg-3 b-border_left">
          <ul>
            <li>
              <span>日期：2018-01-23</span>
              <ul>
                <li>全网新闻总数</li>
                <li>2323</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>负面新闻数</li>
                <li>2323</li>
              </ul>
            </li>
            <li>
              <ul>
                <li>总/负新闻占比</li>
                <li>23%</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
